#todo-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-item {
  display: flex;
  align-items: baseline;
  gap: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
}

.todo-item:hover {
  background-color: #f5f5f5;
}

.todo-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.del-button {
  margin-left: auto;
}

.high-priority {
  color: red;
}

.med-priority {
  color: orange;
}

.low-priority {
  color: green;
}
