#todo-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-item {
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
}

.high-priority {
  color: red;
}

.med-priority {
  color: orange;
}

.low-priority {
  color: green;
}
