@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  width: 350px;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  body {
    width: 500px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 30px;
}

#selector {
  width: 150px;
}

.form-container {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

.todo-form {
  visibility: hidden;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-form-row {
  display: flex;
  gap: 10px;
}

.todo-form-row input {
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

#title {
  width: 500px;
}

#desc {
  resize: none;
  flex: 1;
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.todo-item:hover {
  background-color: #f5f5f5;
  border-color: darkgrey;
}

.done-status {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.todo-text {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.todo-text:hover {
  cursor: pointer;
}

.todo-title,
.todo-tag {
  font-size: 1.25rem;
}

.todo-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-end {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 5px;
}

.high-priority {
  color: red;
}

.med-priority {
  color: orange;
}

.low-priority {
  color: green;
}
